<footer id="footer">


	<div align="center" class="footer">
		<p class="info"><img src="/public/images/osd_black_20.svg" alt="opensensorsdata logo" /> {{ site.title }} is  brought to you by opensensorsdata under <a href="http://creativecommons.org/licenses/by-sa/4.0/"><i class="fa fa-creative-commons"></i>-BY-SA</a></p> 
		<p class="info"><i class="fa fa-copyright"></i> {{ site.time | date: '%Y' }} <a href="opensensorsdata.it">opensensorsdata srl</a> <strong>VAT IVA</strong> 04294660271</p>
		<p class="info"><a href="mailto:contact@opensensorsdata.it"><i class="fa fa-share"></i> contact@opensensorsdata.it</a></p>
		<p class="info"><i class="fa fa-reply-all fa-flip-horizontal"></i> pec (certified email only for Italy) opensensorsdata@pec.it</p>
		<p class="info"><a href="//www.iubenda.com/privacy-policy/858483" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></p>
		<p class="info"><a href="https://www.iubenda.com/privacy-policy/858483/cookie-policy">cookie policy</a></p>
		<p class="info">site version{{ site.version }}</p>
		<p class="info"><a href=""><i class="fa fa-arrow-circle-up fa-3x"></i></a>
	</div>

</footer>